*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.headbar{
    height: 180px;
    width: 100%;
    background-color:#4dd37a;
    display: flex;
}
.head-logo{
    height: 170px;
    width: 180px;
    display: flex;
}
.logo{
    margin-top: 10px;
    background-image: url("logo3.png");
    background-size: cover;
    height: 140px;
    width: 160px;

}
.word-logo{
    margin-top: 10px;
    background-image: url("scrapgrgeen.jp");
    background-size: cover;
    height: 140px;
    width: 70%;
}
.pickup{
    margin-top: 10px;
    border-radius: 3%;

}
.pickup-img{
    border: 2px solid transparent;
    border-radius: 10%;
}
.border{
    
    border-radius: 10% ;
}
.border:hover{
    border: 5px solid red;
    border-radius: 4%;
}
.navbar{
    background-color: #255ed8;
    height: 60px;
    width: 100%;
    display: flex;
}
.center {
    margin: auto;
    align-content:center;
    width: 60%;
    ;
    padding: 1px;
  }
.n-search{
    height: 45px;
    width: 70%;
    background-color: aliceblue;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    margin-top: 5px;
    justify-content: center;
}
.navbar{
    height: 80px;
    margin: 2px;
    background-color: #0c84af;
    color: white;
    display: flex;
    justify-content: center;
}
.nav-search{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    background-color: azure;
    height: 50px;
    width: 800px;
    border-radius: 5px;
    color: #f96108;
    
}

.nav-search:hover{
    border: 2px solid rgb(87, 205, 245);
}
.search-select{
       background-color: #f3f3f3;
       width: 90px;
       text-align: center;
       border-radius: 5px;
       border: none;
}
.search-input{
    width: 700px;
    font-size: 1rem;
    font-style: oblique;
    display: flex;
    
}


.hero-section{
    background-image: url("hero.jpg");
    background-size: cover;
    height: 650px;
    font-size: 50px;
    color: #f96108;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}
.catagary-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #d5f5f2;
}
.box{
    height: 400px;
    width:23%;
    background-color: #f3f3f3;
    border-radius: 20px;
}

.box:hover{
    border-color:#462ff5 ;
    border-radius: 20px;
}

.box1-img{
    
    height: 320px;
    background-image: url("newspaper.jpg");
    background-size: cover;
    border-radius: 10px;
    font-size: 10px;
}

.box2-img{
    height: 320px;
    background-image: url("metel.jfif");
    background-size: cover;
    border-radius: 10px;
    font-size: 10px;
}

.box3-img{
    height: 320px;
    background-image: url("copper.jpg");
    background-size: cover;
    border-radius: 10px;
    font-size: 10px;
}

.box4-img{
    height: 320px;
    background-image: url("cardbord.jpg");
    background-size: cover;
    border-radius: 25px;
    
}
.box5-img{
    height: 320px;
    background-image: url("alumenium.jpg");
    background-size: cover;
    border-radius: 25px;
    
}
.box6-img{
    height: 320px;
    background-image: url("glassbottel.jpg");
    background-size: cover;
    border-radius: 25px;
    
}
.box7-img{
    height: 320px;
    background-image: url("packet.jpg");
    background-size: cover;
    border-radius: 25px;
    
}
.box8-img{
    height: 320px;
    background-image: url("electronic.jfif");
    background-size: cover;
    border-radius: 25px;
    
}
.container{
    margin: 5px;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    margin-top:px;
    height: 100%;
    width: 100%;;
    background-color: #75cf81;
    border-radius: 20px;
    justify-content: space-evenly;
    font-size: 28px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card2{
    margin-top:5px;
    height: 100%;
    width: 100%;;
    background-color: #75cf81;
    border-radius: 20px;
    justify-content: space-evenly;
    font-size: 28px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card1{
        align-items: center;
        background: #3ab34a;
        border-radius: 4px;
        box-shadow: 2px 2px 6px #257430;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        margin: 1rem 0;
        text-align: center;
}
.scrapto-qotation{
    height: auto;
    display: flex;
    width: 100%;
    font-size: 30px;
    font-weight: 100;
    justify-content: space-evenly;
    background-color: #3ab34a;
}
footer{
    margin-top: 20px;
}

.foot-panal{
    background-color: #37475a;
    color: #f3f3f3;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}
.foot-panal2{
    margin-top: 2px;
    background-color: #37475a;
    font-size: 20px;
    color: #f3f3f3;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
.media{
    background-color: #37475a;
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}
.whatsapp {
    background-image: url("whatsapp.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}
.facebook{
    background-image: url("facebook.png");
    background-size: cover;
    height: 100px;
    width: 100px;

}
.twitter{
    background-image: url("twitter.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}
.insta{
    background-image: url("instagram.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}
.shit{
    border: 2px;
    border-color: solid transparent;


}
.shit:hover{
    height: 110px;
    width: 110px;
    border-color:2px solid white;

}